<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>$.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{54,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,78}}</string>
        <key>sourceSize</key>
        <string>{54,78}</string>
      </dict>
      <key>₩.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,4},{77,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,66}}</string>
        <key>sourceSize</key>
        <string>{77,66}</string>
      </dict>
      <key>฿.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,90},{57,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,75}}</string>
        <key>sourceSize</key>
        <string>{57,75}</string>
      </dict>
      <key>2.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,78},{53,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,68}}</string>
        <key>sourceSize</key>
        <string>{53,68}</string>
      </dict>
      <key>9.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,4},{56,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,68}}</string>
        <key>sourceSize</key>
        <string>{56,68}</string>
      </dict>
      <key>€.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,80},{58,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,68}}</string>
        <key>sourceSize</key>
        <string>{58,68}</string>
      </dict>
      <key>S.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,173},{50,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,68}}</string>
        <key>sourceSize</key>
        <string>{50,68}</string>
      </dict>
      <key>M.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,173},{68,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,66}}</string>
        <key>sourceSize</key>
        <string>{68,66}</string>
      </dict>
      <key>C.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,156},{60,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,68}}</string>
        <key>sourceSize</key>
        <string>{60,68}</string>
      </dict>
      <key>8.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,80},{55,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,68}}</string>
        <key>sourceSize</key>
        <string>{55,68}</string>
      </dict>
      <key>0.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,156},{57,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,68}}</string>
        <key>sourceSize</key>
        <string>{57,68}</string>
      </dict>
      <key>6.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,4},{55,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,67}}</string>
        <key>sourceSize</key>
        <string>{55,67}</string>
      </dict>
      <key>R.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,249},{58,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,67}}</string>
        <key>sourceSize</key>
        <string>{58,67}</string>
      </dict>
      <key>4.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,247},{56,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,67}}</string>
        <key>sourceSize</key>
        <string>{56,67}</string>
      </dict>
      <key>3.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,247},{51,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,67}}</string>
        <key>sourceSize</key>
        <string>{51,67}</string>
      </dict>
      <key>1.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,232},{37,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,67}}</string>
        <key>sourceSize</key>
        <string>{37,67}</string>
      </dict>
      <key>7.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,4},{52,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,66}}</string>
        <key>sourceSize</key>
        <string>{52,66}</string>
      </dict>
      <key>5.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,78},{52,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,66}}</string>
        <key>sourceSize</key>
        <string>{52,66}</string>
      </dict>
      <key>¥.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,232},{61,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,66}}</string>
        <key>sourceSize</key>
        <string>{61,66}</string>
      </dict>
      <key>₽.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,152},{57,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,66}}</string>
        <key>sourceSize</key>
        <string>{57,66}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>numMoney.png</string>
      <key>size</key>
      <string>{334,320}</string>
      <key>textureFileName</key>
      <string>numMoney</string>
    </dict>
  </dict>
</plist>
