<?xml version="1.0" encoding="UTF-8" standalone="yes"?><manifest xmlns:android="http://schemas.android.com/apk/res/android"
android:installLocation="auto">
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
<uses-permission android:name="android.permission.VIBRATE" />

<application
    android:extractNativeLibs="true"
    android:allowBackup="true"
    android:label="@string/app_name_1"
    android:usesCleartextTraffic="false"
    android:icon="@mipmap/icon"
    android:resizeableActivity="true">
    <meta-data
        android:name="android.app.lib_name"
        android:value="cocos" />
    <meta-data
        android:name="com.google.android.gms.ads.APPLICATION_ID"
        android:value="ca-app-pub-9742962109921558~6678355304" />

  <activity
      android:name="com.cocos.game.AppActivity"
      android:screenOrientation="portrait"
      android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|smallestScreenSize"
      android:label="@string/app_name_1"
      android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
      android:launchMode="singleTask"
      android:exported="true">
    <intent-filter>
      <action android:name="android.intent.action.MAIN" />
      <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
    </activity>
    <activity
        android:name="com.cocos.lib.CocosEditBoxActivity"
        android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|smallestScreenSize"
        android:screenOrientation="behind"
        android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

  <uses-library
      android:name="org.apache.http.legacy"
      android:required="false" />
    <activity
    android:name="com.luckbash.lksma.WebviewActivity"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
    android:exported="false"

    />
</application></manifest>