<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>4.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{191,191}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{191,191}}</string>
        <key>sourceSize</key>
        <string>{191,191}</string>
      </dict>
      <key>3.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,203},{164,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,164}}</string>
        <key>sourceSize</key>
        <string>{164,164}</string>
      </dict>
      <key>2.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,203},{139,139}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,139}}</string>
        <key>sourceSize</key>
        <string>{139,139}</string>
      </dict>
      <key>1.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,4},{115,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,115}}</string>
        <key>sourceSize</key>
        <string>{115,115}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>bw.png</string>
      <key>size</key>
      <string>{322,371}</string>
      <key>textureFileName</key>
      <string>bw</string>
    </dict>
  </dict>
</plist>
