<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>₩.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{64,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,56}}</string>
        <key>sourceSize</key>
        <string>{64,56}</string>
      </dict>
      <key>M.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,68},{62,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,55}}</string>
        <key>sourceSize</key>
        <string>{62,55}</string>
      </dict>
      <key>฿.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,4},{40,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,58}}</string>
        <key>sourceSize</key>
        <string>{40,58}</string>
      </dict>
      <key>€.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,4},{49,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,57}}</string>
        <key>sourceSize</key>
        <string>{49,57}</string>
      </dict>
      <key>S.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,131},{44,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,56}}</string>
        <key>sourceSize</key>
        <string>{44,56}</string>
      </dict>
      <key>C.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,131},{43,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,56}}</string>
        <key>sourceSize</key>
        <string>{43,56}</string>
      </dict>
      <key>₽.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,69},{49,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,55}}</string>
        <key>sourceSize</key>
        <string>{49,55}</string>
      </dict>
      <key>R.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,132},{48,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,55}}</string>
        <key>sourceSize</key>
        <string>{48,55}</string>
      </dict>
      <key>$.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,70},{36,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,53}}</string>
        <key>sourceSize</key>
        <string>{36,53}</string>
      </dict>
      <key>¥.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,4},{47,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,53}}</string>
        <key>sourceSize</key>
        <string>{47,53}</string>
      </dict>
      <key>x.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,65},{46,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,48}}</string>
        <key>sourceSize</key>
        <string>{46,48}</string>
      </dict>
      <key>0.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,132},{39,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,48}}</string>
        <key>sourceSize</key>
        <string>{39,48}</string>
      </dict>
      <key>7.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,195},{38,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,48}}</string>
        <key>sourceSize</key>
        <string>{38,48}</string>
      </dict>
      <key>6.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,195},{39,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,48}}</string>
        <key>sourceSize</key>
        <string>{39,48}</string>
      </dict>
      <key>5.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,195},{38,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,48}}</string>
        <key>sourceSize</key>
        <string>{38,48}</string>
      </dict>
      <key>8.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,195},{38,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,48}}</string>
        <key>sourceSize</key>
        <string>{38,48}</string>
      </dict>
      <key>4.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,4},{40,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,48}}</string>
        <key>sourceSize</key>
        <string>{40,48}</string>
      </dict>
      <key>1.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,188},{23,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,48}}</string>
        <key>sourceSize</key>
        <string>{23,48}</string>
      </dict>
      <key>2.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,60},{38,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,48}}</string>
        <key>sourceSize</key>
        <string>{38,48}</string>
      </dict>
      <key>9.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,116},{38,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,48}}</string>
        <key>sourceSize</key>
        <string>{38,48}</string>
      </dict>
      <key>3.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,172},{37,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,47}}</string>
        <key>sourceSize</key>
        <string>{37,47}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>numReword.png</string>
      <key>size</key>
      <string>{280,247}</string>
      <key>textureFileName</key>
      <string>numReword</string>
    </dict>
  </dict>
</plist>
