<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{236,243}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{236,243}}</string>
        <key>sourceSize</key>
        <string>{236,243}</string>
      </dict>
      <key>3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,243},{237,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{237,235}}</string>
        <key>sourceSize</key>
        <string>{237,235}</string>
      </dict>
      <key>1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,480},{235,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,235}}</string>
        <key>sourceSize</key>
        <string>{235,235}</string>
      </dict>
      <key>2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,715},{235,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,235}}</string>
        <key>sourceSize</key>
        <string>{235,235}</string>
      </dict>
      <key>4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,950},{235,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,235}}</string>
        <key>sourceSize</key>
        <string>{235,235}</string>
      </dict>
      <key>6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1185},{235,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,235}}</string>
        <key>sourceSize</key>
        <string>{235,235}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>effectClear.png</string>
      <key>size</key>
      <string>{236,1420}</string>
      <key>textureFileName</key>
      <string>effectClear</string>
    </dict>
  </dict>
</plist>
