<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>_.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{12,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,12}}</string>
        <key>sourceSize</key>
        <string>{12,12}</string>
      </dict>
      <key>₩.png</key>
      <dict>
        <key>frame</key>
        <string>{{24,4},{34,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,30}}</string>
        <key>sourceSize</key>
        <string>{34,30}</string>
      </dict>
      <key>1.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,4},{17,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,31}}</string>
        <key>sourceSize</key>
        <string>{17,31}</string>
      </dict>
      <key>3.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,4},{22,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,31}}</string>
        <key>sourceSize</key>
        <string>{22,31}</string>
      </dict>
      <key>4.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,4},{23,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,31}}</string>
        <key>sourceSize</key>
        <string>{23,31}</string>
      </dict>
      <key>5.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,4},{22,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,31}}</string>
        <key>sourceSize</key>
        <string>{22,31}</string>
      </dict>
      <key>6.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,4},{23,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,31}}</string>
        <key>sourceSize</key>
        <string>{23,31}</string>
      </dict>
      <key>7.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,4},{22,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,31}}</string>
        <key>sourceSize</key>
        <string>{22,31}</string>
      </dict>
      <key>M.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,4},{30,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,31}}</string>
        <key>sourceSize</key>
        <string>{30,31}</string>
      </dict>
      <key>0.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,4},{24,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,32}}</string>
        <key>sourceSize</key>
        <string>{24,32}</string>
      </dict>
      <key>2.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,4},{23,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,32}}</string>
        <key>sourceSize</key>
        <string>{23,32}</string>
      </dict>
      <key>8.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,4},{23,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,32}}</string>
        <key>sourceSize</key>
        <string>{23,32}</string>
      </dict>
      <key>9.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,4},{23,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,32}}</string>
        <key>sourceSize</key>
        <string>{23,32}</string>
      </dict>
      <key>C.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,4},{26,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,32}}</string>
        <key>sourceSize</key>
        <string>{26,32}</string>
      </dict>
      <key>R.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,4},{29,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,33}}</string>
        <key>sourceSize</key>
        <string>{29,33}</string>
      </dict>
      <key>¥.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,4},{30,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,33}}</string>
        <key>sourceSize</key>
        <string>{30,33}</string>
      </dict>
      <key>₽.png</key>
      <dict>
        <key>frame</key>
        <string>{{515,4},{29,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,33}}</string>
        <key>sourceSize</key>
        <string>{29,33}</string>
      </dict>
      <key>S.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,4},{26,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,34}}</string>
        <key>sourceSize</key>
        <string>{26,34}</string>
      </dict>
      <key>€.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,4},{28,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,34}}</string>
        <key>sourceSize</key>
        <string>{28,34}</string>
      </dict>
      <key>$.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,4},{24,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,36}}</string>
        <key>sourceSize</key>
        <string>{24,36}</string>
      </dict>
      <key>฿.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,4},{27,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,36}}</string>
        <key>sourceSize</key>
        <string>{27,36}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>num1.png</string>
      <key>size</key>
      <string>{685,44}</string>
      <key>textureFileName</key>
      <string>num1</string>
    </dict>
  </dict>
</plist>
