<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>_.png</key>
      <dict>
        <key>frame</key>
        <string>{{5,5},{5,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,6}}</string>
        <key>sourceSize</key>
        <string>{5,6}</string>
      </dict>
      <key>%.png</key>
      <dict>
        <key>frame</key>
        <string>{{20,5},{23,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,22}}</string>
        <key>sourceSize</key>
        <string>{23,22}</string>
      </dict>
      <key>1.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,5},{10,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,22}}</string>
        <key>sourceSize</key>
        <string>{10,22}</string>
      </dict>
      <key>3.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,5},{14,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,22}}</string>
        <key>sourceSize</key>
        <string>{14,22}</string>
      </dict>
      <key>4.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,5},{15,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,22}}</string>
        <key>sourceSize</key>
        <string>{15,22}</string>
      </dict>
      <key>5.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,5},{14,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,22}}</string>
        <key>sourceSize</key>
        <string>{14,22}</string>
      </dict>
      <key>6.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,5},{15,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,22}}</string>
        <key>sourceSize</key>
        <string>{15,22}</string>
      </dict>
      <key>7.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,5},{14,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,22}}</string>
        <key>sourceSize</key>
        <string>{14,22}</string>
      </dict>
      <key>0.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,5},{15,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,23}}</string>
        <key>sourceSize</key>
        <string>{15,23}</string>
      </dict>
      <key>2.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,5},{14,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,23}}</string>
        <key>sourceSize</key>
        <string>{14,23}</string>
      </dict>
      <key>8.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,5},{15,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,23}}</string>
        <key>sourceSize</key>
        <string>{15,23}</string>
      </dict>
      <key>9.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,5},{15,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,23}}</string>
        <key>sourceSize</key>
        <string>{15,23}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>num2.png</string>
      <key>size</key>
      <string>{289,33}</string>
      <key>textureFileName</key>
      <string>num2</string>
    </dict>
  </dict>
</plist>
