<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>1.png</key>
      <dict>
        <key>frame</key>
        <string>{{5,5},{18,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,37}}</string>
        <key>sourceSize</key>
        <string>{18,37}</string>
      </dict>
      <key>3.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,5},{25,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,37}}</string>
        <key>sourceSize</key>
        <string>{25,37}</string>
      </dict>
      <key>4.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,5},{27,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,37}}</string>
        <key>sourceSize</key>
        <string>{27,37}</string>
      </dict>
      <key>5.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,5},{25,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,37}}</string>
        <key>sourceSize</key>
        <string>{25,37}</string>
      </dict>
      <key>6.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,5},{27,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,37}}</string>
        <key>sourceSize</key>
        <string>{27,37}</string>
      </dict>
      <key>7.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,5},{25,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,37}}</string>
        <key>sourceSize</key>
        <string>{25,37}</string>
      </dict>
      <key>9.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,5},{27,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,37}}</string>
        <key>sourceSize</key>
        <string>{27,37}</string>
      </dict>
      <key>0.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,5},{28,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,38}}</string>
        <key>sourceSize</key>
        <string>{28,38}</string>
      </dict>
      <key>2.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,5},{26,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,38}}</string>
        <key>sourceSize</key>
        <string>{26,38}</string>
      </dict>
      <key>8.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,5},{27,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,38}}</string>
        <key>sourceSize</key>
        <string>{27,38}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>numCoin.png</string>
      <key>size</key>
      <string>{355,48}</string>
      <key>textureFileName</key>
      <string>numCoin</string>
    </dict>
  </dict>
</plist>
