<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>1.png</key>
      <dict>
        <key>frame</key>
        <string>{{5,5},{14,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,27}}</string>
        <key>sourceSize</key>
        <string>{14,27}</string>
      </dict>
      <key>3.png</key>
      <dict>
        <key>frame</key>
        <string>{{29,5},{19,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,27}}</string>
        <key>sourceSize</key>
        <string>{19,27}</string>
      </dict>
      <key>4.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,5},{20,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,27}}</string>
        <key>sourceSize</key>
        <string>{20,27}</string>
      </dict>
      <key>5.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,5},{19,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,27}}</string>
        <key>sourceSize</key>
        <string>{19,27}</string>
      </dict>
      <key>6.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,5},{20,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,27}}</string>
        <key>sourceSize</key>
        <string>{20,27}</string>
      </dict>
      <key>7.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,5},{19,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,27}}</string>
        <key>sourceSize</key>
        <string>{19,27}</string>
      </dict>
      <key>_.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,5},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
      <key>0.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,5},{21,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,28}}</string>
        <key>sourceSize</key>
        <string>{21,28}</string>
      </dict>
      <key>2.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,5},{20,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,28}}</string>
        <key>sourceSize</key>
        <string>{20,28}</string>
      </dict>
      <key>8.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,5},{20,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,28}}</string>
        <key>sourceSize</key>
        <string>{20,28}</string>
      </dict>
      <key>9.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,5},{20,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,28}}</string>
        <key>sourceSize</key>
        <string>{20,28}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>numProgress.png</string>
      <key>size</key>
      <string>{320,38}</string>
      <key>textureFileName</key>
      <string>numProgress</string>
    </dict>
  </dict>
</plist>
