<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>4.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{67,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,78}}</string>
        <key>sourceSize</key>
        <string>{67,78}</string>
      </dict>
      <key>1.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,4},{47,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,79}}</string>
        <key>sourceSize</key>
        <string>{47,79}</string>
      </dict>
      <key>3.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,4},{60,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,79}}</string>
        <key>sourceSize</key>
        <string>{60,79}</string>
      </dict>
      <key>5.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,4},{62,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,79}}</string>
        <key>sourceSize</key>
        <string>{62,79}</string>
      </dict>
      <key>2.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,4},{57,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,80}}</string>
        <key>sourceSize</key>
        <string>{57,80}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>numLevel.png</string>
      <key>size</key>
      <string>{333,88}</string>
      <key>textureFileName</key>
      <string>numLevel</string>
    </dict>
  </dict>
</plist>
